
<div class="panel panel-default">
	<div class="panel-heading"><h2 style="margin:0px;color:green;font-style:italic">Charger la maquette</h2></div>
	<div class="panel-body" style="padding-top:30px;">
		<div class="form-group">
	  		
	  		<div class="row">
	  			<div class="col-sm-3 ">
	  				<label class="btn btn-default btn-file" style="width:100%">
						Sélectionner un fichier<input type="file" style="display:none;" nom-fichier="fichier_maquette"/>
					</label>
	  			</div>
	  			<div class="col-sm-2">
	  				<div class="well" style="border-radius:0px;padding:15px;word-wrap: break-word;">
	  					{[{fichier_maquette.name}]}
	  				</div>
		  		</div>
	  			<div class="col-sm-2">
	  				<input ng-click="envoyer_maquette()" type="submit" class="btn btn-primary btn-block" style="width:100%" value="Envoyer"/>
		  		</div>
		  		<div class="col-sm-3">
		  			<div ng-switch="etat_maquette">
		  				<div ng-switch-when="non_chargee">
		  					<p class="text-warning" style="font-weight: bold;">MAQUETTE NON CHARGEE</p>
		  				</div>
		  				<div ng-switch-when="chargement">
		  					<p class="text-info" style="font-weight: bold;">CHARGEMENT DE LA MAQUETE</p>
		  				</div>
		  				<div ng-switch-when="chargee">
		  					<p class="text-success" style="font-weight: bold;">MAQUETTE CHARGEE</p>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<p class="text-danger" style="font-weight: bold;">ERREUR EN CHARGEMENT:</p>
		  					<p class="text-danger">{[{erreur_maquette}]}</p>
		  				</div>
		  			</div>
		  		</div>
		  		<div class="col-sm-2">
		  			<div ng-switch="etat_maquette">
		  				<div ng-switch-when="non_chargee">
		  					<img style="width:50px" src="{{ asset('images/nothing.png') }}"/>
		  				</div>
		  				<div ng-switch-when="chargement">
		  					<img style="width:50px" src="{{ asset('images/loader.gif') }}"/>
		  				</div>
		  				<div ng-switch-when="chargee">
		  					<img style="width:50px" src="{{ asset('images/ok.png') }}"/>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<img style="width:50px" src="{{ asset('images/error.png') }}"/>
		  				</div>
		  			</div>
		  		</div>
			</div>
		</div>
	</div>
</div>
  
<div class="panel panel-default">
	<div class="panel-heading"><h2 style="margin:0px;color:green;font-style:italic">Charger les inscriptions</h2></div>
	<div class="panel-body" style="padding-top:30px;">
		<div class="form-group">
	  		
	  		<div class="row">
	  			<div class="col-sm-3 ">
	  				<label class="btn btn-default btn-file" style="width:100%">
						Sélectionner un fichier<input type="file" style="display:none;" nom-fichier="fichier_inscriptions"/>
					</label>
	  			</div>
	  			<div class="col-sm-2">
	  				<div class="well" style="border-radius:0px;padding:15px;word-wrap: break-word;">
	  					{[{fichier_inscriptions.name}]}
	  				</div>
		  		</div>
	  			<div class="col-sm-2">
	  				<input ng-click="envoyer_inscriptions()" type="submit" class="btn btn-primary btn-block" style="width:100%" value="Envoyer"/>
		  		</div>
		  		<div class="col-sm-3">
		  			<div ng-switch="etat_inscriptions">
		  				<div ng-switch-when="non_chargee">
		  					<p class="text-warning" style="font-weight: bold;">INSCRIPTIONS NON CHARGEES</p>
		  				</div>
		  				<div ng-switch-when="chargement">
		  					<p class="text-info" style="font-weight: bold;">CHARGEMENT DES INSCRIPTIONS</p>
		  				</div>
		  				<div ng-switch-when="chargee">
		  					<p class="text-success" style="font-weight: bold;">INSCRIPTIONS CHARGEES</p>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<p class="text-danger" style="font-weight: bold;">ERREUR EN CHARGEMENT:</p>
		  					<p class="text-danger">{[{erreur_inscriptions}]}</p>
		  				</div>
		  			</div>
		  		</div>
		  		<div class="col-sm-2">
		  			<div ng-switch="etat_inscriptions">
		  				<div ng-switch-when="non_chargee">
		  					<img style="width:50px" src="{{ asset('images/nothing.png') }}"/>
		  				</div>
		  				<div ng-switch-when="chargement">
		  					<img style="width:50px" src="{{ asset('images/loader.gif') }}"/>
		  				</div>
		  				<div ng-switch-when="chargee">
		  					<img style="width:50px" src="{{ asset('images/ok.png') }}"/>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<img style="width:50px" src="{{ asset('images/error.png') }}"/>
		  				</div>
		  			</div>
		  		</div>
			</div>
		</div>
	</div>
</div>
  
<div class="panel panel-default">
	<div class="panel-heading"><h2 style="margin:0px;color:green;font-style:italic">Charger les groupes</h2></div>
	<div class="panel-body" style="padding-top:30px;">
		<div class="form-group">
	  		
	  		<div class="row">
	  			<div class="col-sm-3 ">
	  				<label class="btn btn-default btn-file" style="width:100%">
						Sélectionner un fichier<input type="file" style="display:none;" nom-fichier="fichier_groupes"/>
					</label>
	  			</div>
	  			<div class="col-sm-2">
	  				<div class="well" style="border-radius:0px;padding:15px;word-wrap: break-word;">
	  					{[{fichier_groupes.name}]}
	  				</div>
		  		</div>
	  			<div class="col-sm-2">
	  				<input ng-click="envoyer_groupes()" type="submit" class="btn btn-primary btn-block" style="width:100%" value="Envoyer"/>
		  		</div>
		  		<div class="col-sm-3">
		  			<div ng-switch="etat_groupes">
		  				<div ng-switch-when="non_chargee">
		  					<p class="text-warning" style="font-weight: bold;">GROUPES NON CHARGES</p>
		  				</div>
		  				<div ng-switch-when="chargement">
		  					<p class="text-info" style="font-weight: bold;">CHARGEMENT DES GROUPES</p>
		  				</div>
		  				<div ng-switch-when="chargee">
		  					<p class="text-success" style="font-weight: bold;">GROUPES CHARGES</p>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<p class="text-danger" style="font-weight: bold;">ERREUR EN CHARGEMENT:</p>
		  					<p class="text-danger">{[{erreur_groupes}]}</p>
		  				</div>
		  			</div>
		  		</div>
		  		<div class="col-sm-2">
		  			<div ng-switch="etat_groupes">
		  				<div ng-switch-when="non_chargee">
		  					<img style="width:50px" src="{{ asset('images/nothing.png') }}"/>
		  				</div>
		  				<div ng-switch-when="chargement">
		  					<img style="width:50px" src="{{ asset('images/loader.gif') }}"/>
		  				</div>
		  				<div ng-switch-when="chargee">
		  					<img style="width:50px" src="{{ asset('images/ok.png') }}"/>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<img style="width:50px" src="{{ asset('images/error.png') }}"/>
		  				</div>
		  			</div>
		  		</div>
			</div>
		</div>
	</div>
</div>
