
<div class="panel panel-default">
	<div class="panel-body" style="padding-top:30px;">
		<div class="form-group">
	  		
	  		<div class="row">
	  			<div class="col-sm-1 ">
	  				<label>Etudiant:</label>
	  			</div>
	  			<div class="col-sm-3 ">
	  				<select ng-model="id_etudiant" style="border-radius:0" class="form-control">
	  					<option ng-repeat="x in etudiants" value="{[{x.id}]}">{[{x.nom}]} {[{x.prenom}]} ({[{x.id}]})</option>
	  				</select>
	  			</div>
	  			<div class="col-sm-1 ">
	  				<label>Semaine:</label>
	  			</div>
	  			<div class="col-sm-3 ">
					<select ng-model="semaine" style="border-radius:0" class="form-control" value="semaine" ng-options="x for x in semaines">
	  					
	  				</select>
				</div>
	  			<div class="col-sm-4">
	  				<input ng-click="recupererEmploiTemps(id_etudiant,semaine)" type="submit" class="btn btn-primary btn-block" style="width:100%" value="Afficher"/>
		  		</div>
		  		
			</div>
			<div class="row">
				<div class="col-sm-12 timetable"></div>
			</div>
		</div>
	</div>
</div>
  

