<!DOCTYPE html>
<html lang="en">
<head>
	<title>EDT</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
	
	<link href="{{ asset('css/timetablejs.css') }}" rel="stylesheet" />
	<script src="{{ asset('js/timetable.min.js') }}"></script>
	
	<style>
	#header
	{
		background-color:#ccffcc;
		padding:20px;
	}
	
	.affix
	{
		top: 0;
		width:100%;
		padding:5px !important;
		z-index:5;
	}
	
	.affix h4
	{
		font-size:2em !important;
	}	
  	
  	.affix + .container
  	{
  		margin-top: 200px;
  	}
  	
  	.container
  	{
  		padding-top: 80px;
  	}
  	
  	.btn-block
  	{
  		border-radius:0px;
  		background-color:#1affa3;
  		border:0px;
  		font-weight: bold;
  	}
  	.btn-file
  	{
  		border-radius:0px;
  		border:0px;
  		background-color:#00663d;
  		color:white;
  		font-weight: bold;
  	}
  	.panel
  	{
  		border-radius:0px;
  	}
  	.panel-heading
  	{
  		background-color:#ccffcc !important;
  	}
  </style>
  	
</head>

<body ng-app="myApp" ng-controller="ctrl">


<div id="header" data-spy="affix" data-offset-top="50" style="">
	<div class="row">
		<div class="col-sm-2">
			<!--<h4 style="font-size:3em;font-style:italic;margin:0px">STAPS</h4> -->
			
			<form class="form-horizontal">
				<div class="form-group">
					<label style="font-size:1.2em;color:gray" for="sel" class="control-label col-sm-3">Période:</label>
					<div class="col-sm-8 col-sm-offset-1">
						<select ng-change="changerPeriode()" value="periode" class="form-control" id="sel" ng-model="periode" ng-options="x.chaine for x in periodes">
			  			</select>
			  		</div>
				</div>
			</form>
		</div>
		<div class="col-sm-3 col-sm-offset-0">
			<a href="#chargement" role="button" class="btn btn-primary btn-block btn-lg">Chargement</a>
		</div>
		<div class="col-sm-3 col-sm-offset-0">
			<a href="#solution" role="button" class="btn btn-primary btn-block btn-lg">Solution</a>
		</div>
		<div class="col-sm-3 col-sm-offset-0">
			<a href="#emploisTemps" role="button" class="btn btn-primary btn-block btn-lg">Emplois du Temps</a>
		</div>
	</div>
	<div class="row">
		
	</div>
</div>

<div ng-view class="container">
</div>

<script>
	var app = angular.module("myApp",["ngRoute"]);
	app.config(function($interpolateProvider)
	{
    	$interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });
    
	app.config(function($routeProvider)
	{
		$routeProvider
		.when("/chargement",
		{
			templateUrl:"chargement",
			controller : "chargement"
		})
		.when("/solution",
		{
			templateUrl : "solution",
			controller : "solution"
		})
		.when("/emploisTemps",
		{
			templateUrl : "emploisTemps",
			controller : "emploisTemps"
		});
	});
	app.controller("ctrl",function($scope,$http)
	{
		$http.get("recuperer_periodes")
		.then(function(response)
		{
			$scope.periodes=response.data.periodes;
			$scope.periode=$scope.periodes[response.data.periode_index];
		});
	
		
		$scope.changerPeriode=function()
		{
			$http.post("changer_periode",{id_periode:$scope.periode.id})
			.success(function(response)
			{
				if(response.etat=='changee')
					alert('la période actuelle de travail a été bien changée');
				else
					alert('Echec de changement de la période: '+response.erreur);
			})
			.error(function()
			{
				alert('Echec de changement de la période');
			});
		};
	}
	);
		
	app.controller("chargement", function ($scope,$http)
	{
		$scope.etat_maquette="non_chargee";
		
		$scope.envoyer_maquette=function()
		{
			$scope.etat_maquette="chargement";
			
			var fichier = $scope.fichier_maquette;
			
			var fd=new FormData();
			
			fd.append('fichier_maquette',fichier);
			
			$http.post("chargement/charger_maquette",fd,{
				transformRequest: angular.identity,
				headers: {"Content-Type": undefined}
				})
				.success(function(response)
				{
					$scope.etat_maquette=response.etat;
					$scope.erreur_maquette=response.erreur;
				})
				.error(function()
				{
					
					$scope.etat_maquette="erreur";
					$scope.erreur_maquette="Echec de connexion au serveur ou fichier trop volumineux";
				});
		};
		
		$scope.etat_inscriptions="non_chargee";
		
		$scope.envoyer_inscriptions=function()
		{
			$scope.etat_inscriptions="chargement";
			
			var fichier = $scope.fichier_inscriptions;
			
			var fd=new FormData();
			
			fd.append('fichier_inscriptions',fichier);
			
			$http.post("chargement/charger_inscriptions",fd,{
				transformRequest: angular.identity,
				headers: {"Content-Type": undefined}
				})
				.success(function(response)
				{
					$scope.etat_inscriptions=response.etat;
					$scope.erreur_inscriptions=response.erreur;
				})
				.error(function()
				{
					
					$scope.etat_inscriptions="erreur";
					$scope.erreur_inscriptions="Echec de connexion au serveur ou fichier trop volumineux";
				});
		};
		
		$scope.etat_groupes="non_chargee";
		
		$scope.envoyer_groupes=function()
		{
			$scope.etat_groupes="chargement";
			
			var fichier = $scope.fichier_groupes;
			
			var fd=new FormData();
			
			fd.append('fichier_groupes',fichier);
			
			$http.post("chargement/charger_groupes",fd,{
				transformRequest: angular.identity,
				headers: {"Content-Type": undefined}
				})
				.success(function(response)
				{
					$scope.etat_groupes=response.etat;
					$scope.erreur_groupes=response.erreur;
				})
				.error(function()
				{
					
					$scope.etat_groupes="erreur";
					$scope.erreur_groupes="Echec de connexion au serveur ou fichier trop volumineux";
				});
		};
	});
	
	function recuperer_solution($scope,$http)
	{
		$http.get("solution/recuperer_solution")
		.then(function(response)
		{
			$scope.obligatoires=response.data.obligatoires;
			$scope.choix=response.data.choix;
			$scope.groupes=response.data.groupes;
		});
	}
	
	app.controller("solution", function ($scope,$http)
	{
		$http.get("solution/recuperer_priorites")
		.then(function(response)
		{
			$scope.enseignements=response.data.liste;
		});
	
		$scope.etat_sauvegarde="sauvegardee";
		
		$scope.sauvegarder_priorites=function()
		{
			$scope.etat_sauvegarde="sauvegarde";
			
			$http.post("solution/sauvegarder_priorites",{liste:$scope.enseignements})
			.success(function(response)
			{
				$scope.etat_sauvegarde = response.etat;
				$scope.erreur_sauvegarde=response.erreur;
			})
			.error(function()
			{
				$scope.etat_sauvegarde="erreur";
				$scope.erreur_sauvegarde="Echec de connexion au serveur";
			});
		};
        
		$scope.etat_solution="non_generee";
		
		$scope.generer_solution=function()
		{
			$scope.etat_solution="generation";
			
			$http.get("solution/generer_solution")
			.then(function(response)
			{
				$scope.etat_solution = response.data.etat;
				$scope.erreur_generation=response.data.erreur;
				
				recuperer_solution($scope,$http);
			},function(response)
			{
				$scope.etat_solution="erreur";
				$scope.erreur_generation="Echec de connexion au serveur";
			});
    	};
    	
    	recuperer_solution($scope,$http);
    	
    	$scope.filtre_obligatoire={probleme:''};
    	$scope.filtre_choix={probleme:''};
    	
    	$scope.sauvegarder_choix=function()
    	{
    		$http.get("solution/sauvegarder_choix")
			.then(function(response)
			{
				if(response.data.etat=='sauvegardee')
					alert('les choix ont été sauvegardés pour la période actuelle de travail');
				else
					alert('Echec de sauvegarde des choix: '+response.data.erreur);
			},function(response)
			{
				alert('Echec de sauvegarde des choix');
			});
    	}
    	
    	$scope.vider_choix=function()
    	{
    		$http.get("solution/vider_choix")
			.then(function(response)
			{
				if(response.data.etat=='videe')
					alert('les choix ont été vidés de la période actuelle de travail');
				else
					alert('Echec de suppression des choix: '+response.data.erreur);
			},function(response)
			{
				alert('Echec de suppression des choix');
			});
    	}
    	
    	$scope.imprimer_groupe=function(groupe)
    	{
    		window.location = "solution/imprimer_groupe?groupe="+groupe;
    	}
	});
	app.controller("emploisTemps", function ($scope,$http)
	{
		
		$http.get("emploisTemps/recuperer_etudiants")
		.then(function(response)
		{
			$scope.etudiants=response.data.liste;
		});
		
		
		$http.get("emploisTemps/recuperer_semaines")
		.then(function(response)
		{
			$scope.semaines=response.data.liste;
			$scope.semaine=$scope.semaines[response.data.index_semaine_actuelle];
		
		});
		
		$scope.recupererEmploiTemps=function(id_etudiant,semaine)
		{
			var timetable = new Timetable();
			timetable.setScope(8, 20);
			timetable.addLocations(['Lundi', 'Mardi', 'Mercredi', 'Jeudi','Vendredi','Samedi']);
			var renderer = new Timetable.Renderer(timetable);
			renderer.draw('.timetable');
			
			
			$http.post("emploisTemps/recuperer_emploi_temps",{id_etudiant:id_etudiant,semaine:semaine})
			.success(function(response)
			{
				var jour;
				var chaine_jour="";
				for(i=1;i<7;i++)
				{
					switch(i)
					{
						case 1:
							jour=response.lundi;
							chaine_jour="Lundi";
						break;
						case 2:
							jour=response.mardi;
							chaine_jour="Mardi";
						break;
						case 3:
							jour=response.mercredi;
							chaine_jour="Mercredi";
						break;
						case 4:
							jour=response.jeudi;
							chaine_jour="Jeudi";
						break;
						case 5:
							jour=response.vendredi;
							chaine_jour="Vendredi";
						break;
						case 6:
							jour=response.samedi;
							chaine_jour="Samedi";
						break;
					}
					if(jour)
					{
						for(j=0;j<jour.length;j++)
						{
							
							timetable.addEvent(jour[j].evenement,chaine_jour,new Date(0,0,0,jour[j].heure_debut,jour[j].min_debut), new Date(0,0,0,jour[j].heure_fin,jour[j].min_fin));
						}
					}	
				}
				renderer.draw('.timetable');
			}).error(function(){
				alert('Echec de récupération de l\'emploi du temps');
			});
			
		}
		
		
		
	});
	
	app.directive("nomFichier",function()
	{
		return {
			scope:
			{
				nomFichier: "="
			},
			link:function(scope,element,attributes)
			{
				element.bind("change", function (changeEvent)
				{
					scope.$apply(function ()
					{
                    	scope.nomFichier = element[0].files[0];
                    });
            	});
            }
		};
    });

</script>

</body>
</html>

