

<div class="panel panel-default">
	<div class="panel-heading"><h2 style="margin:0px;color:green;font-style:italic">Définir les priorités</h2></div>
	<div class="panel-body" style="padding-top:30px;">
		<div class="row">
			<div class="col-sm-12" style="height:300px;overflow-y:scroll;">
				<table class="table table-hover table-striped table-bordered" >
					<thead style="color:green;font-weight: bold;font-size:1.2em;">
						<tr>
							<th class="text-center">Id<br/><a style="font-size:0.8em;" ng-click="champ_ordre='id';decr=false"  class="btn btn-link">ordonner par id</a></th>
							<th class="text-center">Nom<br/><a style="font-size:0.8em;" ng-click="champ_ordre='nom';decr=false"  class="btn btn-link">ordonner par nom</a></th>
							<th class="text-center">Priorité<br/><a style="font-size:0.8em;" ng-click="champ_ordre='priorite';decr=true"  class="btn btn-link">ordonner par priorité</a></th>
						</tr>
					</thead>
					<tbody class="text-center">
						<tr ng-repeat="x in enseignements | orderBy:champ_ordre:decr">
							<td>{[{ x.id }]}</td>
							<td>{[{ x.nom }]}</td>
							<td><input type="text" style="border-radius:0" class="form-control" min="0" value="x.priorite" ng-model="x.priorite" ng-model-options="{ updateOn: 'blur'}"/></td>
						  </tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-7">
	  				<input ng-click="sauvegarder_priorites()" type="submit" class="btn btn-primary btn-block" style="width:100%" value="Sauvegarder les priorités"/>
		  		</div>
		  		
		  		<div class="col-sm-3">
		  			<div ng-switch="etat_sauvegarde">
		  				<div ng-switch-when="non_sauvegardee">
		  					<p class="text-primary" style="font-weight: bold;">Priorités non sauvegardées</p>
		  				</div>
		  				<div ng-switch-when="sauvegarde">
		  					<p class="text-info" style="font-weight: bold;">Sauvegarde des priorités</p>
		  				</div>
		  				<div ng-switch-when="sauvegardee">
		  					<p class="text-success" style="font-weight: bold;">Priorités sauvegardées</p>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<p class="text-danger" style="font-weight: bold;">Erreur lors de la sauvegarde</p>
		  					<p class="text-danger">{[{erreur_sauvegarde}]}</p>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="col-sm-2">
		  			<div ng-switch="etat_sauvegarde">
		  				<div ng-switch-when="non_sauvegardee">
		  					<img style="width:50px" src="{{ asset('images/nothing.png') }}"/>
		  				</div>
		  				<div ng-switch-when="sauvegarde">
		  					<img style="width:50px" src="{{ asset('images/loader.gif') }}"/>
		  				</div>
		  				<div ng-switch-when="sauvegardee">
		  					<img style="width:50px" src="{{ asset('images/ok.png') }}"/>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<img style="width:50px" src="{{ asset('images/error.png') }}"/>
		  				</div>
		  			</div>
		  		</div>
		</div>
	</div>
</div>
	  			
	  			
	  			


<div class="panel panel-default">
	<div class="panel-body" style="padding-top:30px;">
	  	
	  		<div class="row">
	  			
	  			
	  			<div class="col-sm-7">
	  				<input ng-click="generer_solution()" type="submit" class="btn btn-primary btn-block btn-lg" style="width:100%" value="Générer la solution"/>
		  		</div>
		  		
		  		<div class="col-sm-3">
		  			<div ng-switch="etat_solution">
		  				<div ng-switch-when="non_generee">
		  					<p class="text-primary" style="font-weight: bold;">SOLUTION NON GENEREE</p>
		  				</div>
		  				<div ng-switch-when="generation">
		  					<p class="text-info" style="font-weight: bold;">GENERATION DE LA SOLUTION</p>
		  				</div>
		  				<div ng-switch-when="generee">
		  					<p class="text-success" style="font-weight: bold;">SOLUTION GENEREE</p>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<p class="text-danger" style="font-weight: bold;">ERREUR EN GENERATION:</p>
		  					<p class="text-danger">{[{erreur_generation}]}</p>
		  				</div>
		  			</div>
		  		</div>
		  		
		  		<div class="col-sm-2">
		  			<div ng-switch="etat_solution">
		  				<div ng-switch-when="non_generee">
		  					<img style="width:50px" src="{{ asset('images/nothing.png') }}"/>
		  				</div>
		  				<div ng-switch-when="generation">
		  					<img style="width:50px" src="{{ asset('images/loader.gif') }}"/>
		  				</div>
		  				<div ng-switch-when="generee">
		  					<img style="width:50px" src="{{ asset('images/ok.png') }}"/>
		  				</div>
		  				<div ng-switch-when="erreur">
		  					<img style="width:50px" src="{{ asset('images/error.png') }}"/>
		  				</div>
		  			</div>
		  		</div>
			</div>
	</div>
</div>


<div class="panel panel-default">
	<div class="panel-heading"><h2 style="margin:0px;color:green;font-style:italic">La solution</h2></div>
	<div class="panel-body" style="padding-top:30px;">
		<div class="row">
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="solution/#Obligatoires">Enseignements Obligatoires</a></li>
					<li><a data-toggle="tab" href="solution/#Choix">Choix des étudiants</a></li>
					<li><a data-toggle="tab" href="solution/#Groupes">Télécharger les listes de groupes</a></li>
				</ul>
			</div>
		</div>
		<div class="tab-content">
			<div id="Obligatoires" class="tab-pane fade in active">
				<div class="row">
					<div class="col-sm-8">
						<h3 style="text-decoration:underline">Les enseignements obligatoires:</h3>
					</div>
					<div class="col-sm-4">
						<label class="checkbox-inline" style="color:green;font-weight: bold;" ><input ng-click="filtre_obligatoire.probleme = (filtre_obligatoire.probleme === '') ? true : ''" type="checkbox" >Afficher uniquement les problèmes</label>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-sm-12">
						<input ng-model="filtre_obligatoire.$" style="border-radius:0" type="text" class="form-control" placeholder="CHERCHER ..."/>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-hover table-striped table-bordered">
							<thead style="color:green;font-weight: bold;font-size:1.2em;">
								<tr>
									<th class="text-center">Enseignement</th>
									<th class="text-center">Element</th>
									<th class="text-center">Etudiant</th>
									<th class="text-center">Groupe</th>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr ng-repeat="x in obligatoires | filter : filtre_obligatoire" class="{[{x.probleme === true ? 'danger' : ''}]}">
									<td>{[{ x.enseignement }]}</td>
									<td>{[{ x.element }]}</td>
									<td>{[{ x.etudiant }]}</td>
									<td>{[{ x.groupe }]}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="Choix" class="tab-pane fade">
				<div class="row">
					<div class="col-sm-8">
						<h3 style="text-decoration:underline">Les choix des étudiants:</h3>
					</div>
					<div class="col-sm-4">
						<label class="checkbox-inline" style="color:green;font-weight: bold;" ><input ng-click="filtre_choix.probleme = (filtre_choix.probleme === '') ? true : ''" type="checkbox" >Afficher uniquement les problèmes</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
		  				<input ng-click="sauvegarder_choix()" type="submit" class="btn btn-primary btn-block" style="width:100%" value="Sauvegarder les choix"/>
			  		</div>
			  		<div class="col-sm-4">
		  				<input ng-click="vider_choix()" type="submit" class="btn btn-primary btn-block" style="width:100%" value="Vider les choix"/>
			  		</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-sm-12">
						<input ng-model="filtre_choix.$" style="border-radius:0" type="text" class="form-control" placeholder="CHERCHER ..."/>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-hover table-striped table-bordered">
							<thead style="color:green;font-weight: bold;font-size:1.2em;">
								<tr>
									<th class="text-center">Etudiant</th>
									<th class="text-center">Choix</th>
									<th class="text-center">Enseignement choisi</th>
									<th class="text-center">Groupes</th>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr ng-repeat="x in choix | filter : filtre_choix" class="{[{x.probleme === true ? 'danger' : ''}]}">
									<td>{[{ x.etudiant }]}</td>
									<td>{[{ x.choix }]}</td>
									<td>{[{ x.enseignement }]}</td>
									<td>{[{ x.groupes }]}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div id="Groupes" class="tab-pane fade">
				<hr/>
				<div class="row">
					<div class="col-sm-12">
						<input ng-model="filtre_groupe.groupe" style="border-radius:0" type="text" class="form-control" placeholder="CHERCHER PAR GROUPE"/>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-hover table-striped table-bordered">
							<thead style="color:green;font-weight: bold;font-size:1.2em;">
								<tr>
									<th class="text-center">Groupe</th>
									<th class="text-center">Effectif</th>
									<th class="text-center"></th>
								</tr>
							</thead>
							<tbody class="text-center">
								<tr ng-repeat="x in groupes | filter:filtre_groupe">
									<td>{[{ x.groupe }]}</td>
									<td>{[{ x.effectif }]}</td>
									<td><input ng-click="imprimer_groupe(x.groupe)" type="submit" class="btn btn-primary btn-block" style="width:100%" value="Imprimer"/></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  
